{% extends 'gibdd_app/base.html' %}
{% block title %}Протокол аварии{% endblock %}
{% block header %}
    Протокол аварии
{% endblock %}
{% block content %}
    {% block form %}

        <form method="POST" enctype="multipart/form-data">

            <table border="2">
                <caption>Таблица ДТП</caption>
                <th align="center"> № протокола ДТП</th>
                <th align="center"> Дата ДТП</th>
                <th align="center"> Подробнее...</th>
                {% for obj in objects_list %}
                    <tr>
                        <div>
                            <td align="center"><p><a
                                    href="{% url 'accident_detail' pk=obj.pk %}">{{ obj.number_accident }}</a></p>
                            </td>
                            <td align="center"><p>{{ obj.accident_date }}</p></td>
                            <td align="center">
                                <button class="btn" type="button"><a
                                        href="{% url 'accident_detail' pk=obj.pk %}">Подробнее
                                    >></a></button>
                            </td>
                        </div>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% endblock %}
{% endblock %}

