{% extends 'gibdd_app/base.html' %}

<title>Список авто</title>
{% load staticfiles %}
{% block header %}
    <h2><i><b>Список автошкол</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form>
            <table border="2">
                <caption>Таблица автошкол</caption>
                <th> Название автошколы</th>
                <th> Адрес автошколы</th>
                <th>Телефон автошколы</th>
                <th>Обучение на категорию</th>
                <th> Подробнее...</th>
                {% for obj in objects_list %}
                    <tr>
                        <div>
                            <td align="center"><p><a
                                    href="{% url 'autoschool_detail' pk=obj.pk %}">{{ obj.school_name }}
                            </a></p></td>
                            <td><p>{{ obj.school_address }}</p></td>
                            <td align="center"><p> {{ obj.school_phone }}</p></td>
                            <td><p>{{ obj.school_category_dr_license }}</p></td>
                            <td align="center">
                                <button class="btn" type="button"><a
                                        href="{% url 'autoschool_detail' pk=obj.pk %}">Подробнее
                                    >></a></button>
                            </td>

                        </div>
                    </tr>
                {% endfor %}
            </table>

        </form>
    {% endblock %}
{% endblock %}