{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {#    <title>{% block title %}{% endblock %}</title>#}
    <link href="{% static 'gibdd_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'gibdd_app/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'gibdd_app/fonts/glyphicons-halflings-regular.svg' %}">
    <link href="{% static 'gibdd_app/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'gibdd_app/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'gibdd_app/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'gibdd_app/css/responsive.css' %}" rel="stylesheet">
    <script src="{% static 'gibdd_app/js/html5shiv.js' %}"></script>
    <script src="{% static 'gibdd_app/js/respond.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>


<body>

<div id="block1">
    {#    <header id="header">#}
    <nav class="navbar navbar-inverse navbar-fixed-top" style="color: darkblue">
        <div class="container" style="color: darkblue">
            <div class="navbar-header" style="color: darkblue">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar" style="color: darkblue">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div id="navbar" class="navbar-collapse collapse"
                     style="position:relative; left:1000px; top: 50px; color: darkblue">
                    {% if user.is_authenticated %}
                        {#                        <h1> Your login: {{ user.username }}</h1>#}
                        <button id="signout" type="submit" class="btn btn-success button_style">Sign
                            out {{ user.username }}</button>

                    {% else %}
                        <button id="signin" type="submit" class="btn btn-success button_style">Sign in</button>

                    {% endif %}
                </div>
                <a class="navbar-left">
                    <img src="{% static 'gibdd_app/images/logo.png' %}" alt="">
                </a>
                <a class="navbar-brand" href="{% url 'main' %}">ГОСАВТОИНСПЕКЦИЯ</a>
                <div class="bn-logo-text" style="top:80px; color:yellowgreen" style="top:80px; color:yellowgreen">
                    УВАЖЕНИЕ ПРОФЕССИОНАЛИЗМ БЕЗОПАСНОСТЬ
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'main' %}">Home</a></li>
                    <li><a href="{% url 'gibdd' %}">Госавтоинспекция</a></li>
                    <li><a href="{% url 'participants' %}">Участникам движения</a></li>
                    <li><a href="{% url 'services' %}">Услуги</a></li>
                    <li><a href="{% url 'workers' %}">Сотрудникам</a></li>
                    <li><a href="{% url 'statistics' %}">Статистика</a></li>
                    {#                        <li><a href="blog.html">Blog</a></li>#}
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {#    </header>#}
</div>


<div id="block2" class="navbar-form">
    <div class="container" align="center"
         style="position:relative; margin: auto; padding: 1px;  height:auto; top:300px">
        {#        <form style="position:relative "> #}
        <header>
            <h2>
                {% block header %} {% endblock %}
            </h2>
        </header>

        {% block content %}

            {% block form %}

            {% endblock %}

        {% endblock %}
        {#        </form>#}
    </div>
</div>


<div>
    <div class="top-bar" style="position:relative; margin: auto; padding: 1px;  height:auto; top:400px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->


    <footer id="footer" class="midnight-blue"
            style="position:relative; margin: auto; padding: 1px;  height:auto; top:400px">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; 2018 Chekulina Marina, BMSTU.</p>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
</div>

<script>

    var signin = document.getElementById('signin');
    if (signin != undefined) {
        signin.onclick = function (event) {
            window.location = '{% url 'login' %}';
            event.stopPropagation();
        }
    }

    var signout = document.getElementById('signout');
    if (signout != undefined) {
        signout.onclick = function (event) {
            window.location = '{% url 'logout' %}';
            event.stopPropagation();
        }
    }

</script>
</body>
</html>