{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change_dr_license</title>
</head>
<body>
{% block content %}
    <h3><span id="i-6"><b
            style="text-decoration-color: green">Замена при утере или порче водительского удостоверения</b></span></h3>

    <div style="float:left">
        <img
                src="{% static 'gibdd_app/images/workers_interface/voditelskoe-udostoverenie-zamena.jpg' %}"
                alt="замена прав при утере" width="270" height="200"></div>

    <div style=" margin-left: 340px;">В случае если ваши права потеряны или испорчены, их
        возможно восстановить. При этом нет надобности вновь сдавать экзамены и получать врачебную справку. Нужно лишь
        обратиться в МРЭО с заявлением о восстановлении удостоверения и сдать нужные документы. <p>Вот перечень:</p>
        <ul>
            <li><strong>Заполненное заявление;</strong></li>
            <li><strong>Паспорт;</strong></li>
            <li><strong>Квитанция</strong></li>
        </ul>
        <p>В медсправке в этом случае также нет необходимости.</p>
    </div>

    <h3><b><span id="i-7">Замена прав в ГИБДД по истечении срока действия</span></b></h3>
    <p>Раз в десять лет каждый водитель обязан пройти процедуру замены водительского удостоверения по
        истечении срока действия. Порядок замены водительского удостоверения в 2017-2018 году по этой причине
        практически не изменился.Вам надо собрать комплект нужных документов и подать заявление. О том, как это сделать,
        мы уже
        говорили выше. Из документов вам обязательно нужны:</p>
    <ul>
        <li><strong>Заявление;</strong></li>
        <li><strong>Паспорт;</strong></li>
        <li><strong>Врачебная справка;</strong></li>
        <li><strong>Старое удостоверение;</strong></li>
        <li><strong>Квитанция</strong></li>
    </ul>
    <p>Где оплатить госпошлину за замену водительского удостоверения? Это можно осуществить в филиалах любого банка,
        посредством интернетбанкинга, через платежные терминалы (установлены во многих МРЭО), а также оплатить
        госпошлину за водительское удостоверение онлайн можно через сайт госуслуг.</p>
    <h3><span id="i-8"><b>Замена при лишении прав</b></span></h3>
    <p>Надеемся, это тема большую часть водителей не касается, поскольку они соблюдают ПДД. Однако, есть и те, у кого
        подошло время возврата водительского удостоверения после лишения. Поэтому мы все же рассмотрим и этот вопрос.
        Скажем сразу, досрочно вернуть права нельзя. Восстановить права можно в МРЭО, где хранится удостоверение, то
        есть там, где вас наказали. Если же вы хотите забрать удостоверение в другом отделении ГИБДД, вам необходимо
        подать письменное заявление о его пересылке. Для возврата удостоверение кроме подачи установленного перечня
        документов (аналогично замене при окончании срока действия) вам необходимо сдать теоретический экзамен.</p>

    <h2><span id="i-9"><i>Как подать онлайн-заявку</i></span></h2>

    <div style="float:left"><img class="alignleft size-medium wp-image-770"
                                 src="http://enjoy-cars.ru/wp-content/uploads/2016/10/podaem-zayavku-na-gosuslugi-300x182.png"
                                 alt="как подать заявку через госуслуги" width="300" height="182"></div>
    <div style=" margin-left: 340px;">
        Подать заявление о замене прав можно через единый портал государственных услуг. Для этого зайдите на сайт
        <a href="https://www.gosuslugi.ru">https://www.gosuslugi.ru</a>,
        во вкладке «Категории услуг» выбрать раздел «Транспорт и вождение», где пройти в подраздел «Водительское
        удостоверение». Прямая ссылка: <a href="https://www.gosuslugi.ru/10056">https://www.gosuslugi.ru/10056</a>.
        Здесь необходимо выбрать причину замены удостоверения. Кликнув на необходимую причину вы увидите подробную
        инструкцию дальнейших действий. Сайт госуслуг построен достаточно просто и доступно.
    </div>

{% endblock %}
</body>
</html>