{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change_dr_license</title>
</head>
<body>
{% block content %}
    <h3><b><u style="color: green"><i>Менять права надо вовремя!</i></u></b></h3>
    <p>Если вас за рулем с просроченным ВУ остановят, то вы имеете все шансы получить штраф на сумму от 5 до 15 тыс.
        руб., а автомашину поместить на штрафстоянку.</p>
    <h3><span><b
            style="text-decoration-color: green">Замена при утере или порче водительского удостоверения</b></span></h3>

    <div style="float:left">
        <img
                src="{% static 'gibdd_app/images/workers_interface/voditelskoe-udostoverenie-zamena.jpg' %}"
                alt="замена прав при утере" width="270" height="200"></div>

    <div style=" margin-left: 340px;">В случае если ваши права потеряны или испорчены, их
        возможно восстановить. При этом нет надобности вновь сдавать экзамены и получать врачебную справку. Нужно лишь
        обратиться в МРЭО с заявлением о восстановлении удостоверения и сдать нужные документы. <p>Вот перечень:</p>
        <ul>
            <li><strong>Заполненное заявление;</strong></li>
            <li><strong>Паспорт;</strong></li>
            <li><strong>Квитанция</strong></li>
        </ul>
        <p>В медсправке в этом случае также нет необходимости.</p>
    </div>
    <div style="clear: left"></div>
    <h3><b><span>Замена прав в ГИБДД по истечении срока действия</span></b></h3>
    <p>Раз в десять лет каждый водитель обязан пройти процедуру замены водительского удостоверения по
        истечении срока действия. Порядок замены водительского удостоверения в 2017-2018 году по этой причине
        практически не изменился.Вам надо собрать комплект нужных документов и подать заявление. О том, как это сделать,
        мы уже
        говорили выше. Из документов вам обязательно нужны:</p>
    <ul>
        <li><strong>Заявление;</strong></li>
        <li><strong>Паспорт;</strong></li>
        <li><strong>Врачебная справка;</strong></li>
        <li><strong>Старое удостоверение;</strong></li>
        <li><strong>Квитанция</strong></li>
    </ul>
    <p>Где оплатить госпошлину за замену водительского удостоверения? Это можно осуществить в филиалах любого банка,
        посредством интернетбанкинга, через платежные терминалы (установлены во многих МРЭО), а также оплатить
        госпошлину за водительское удостоверение онлайн можно через сайт госуслуг.</p>
    <h3><span><b>Замена при лишении прав</b></span></h3>
    <p>Надеемся, это тема большую часть водителей не касается, поскольку они соблюдают ПДД. Однако, есть и те, у кого
        подошло время возврата водительского удостоверения после лишения. Поэтому мы все же рассмотрим и этот вопрос.
        Скажем сразу, досрочно вернуть права нельзя. Восстановить права можно в МРЭО, где хранится удостоверение, то
        есть там, где вас наказали. Если же вы хотите забрать удостоверение в другом отделении ГИБДД, вам необходимо
        подать письменное заявление о его пересылке. Для возврата удостоверение кроме подачи установленного перечня
        документов (аналогично замене при окончании срока действия) вам необходимо сдать теоретический экзамен.</p>

    <h2><span id="i-9"><i>Как подать онлайн-заявку</i></span></h2>

    <div style="float:left"><img class="alignleft size-medium wp-image-770"
                                 src="{% static 'gibdd_app/images/workers_interface/podaem-zayavku-na-gosuslugi.png' %}"
                                 alt="как подать заявку через госуслуги" width="300" height="182"></div>
    <div>
        <p style=" margin-left: 360px;">
            Подать заявление о замене прав можно через единый портал государственных услуг.
            Для этого зайдите на сайт
            <a href="https://www.gosuslugi.ru">https://www.gosuslugi.ru</a>,
            во вкладке «Категории услуг» выбрать раздел «Транспорт и вождение», где пройти в подраздел «Водительское
            удостоверение». Прямая ссылка: <a href="https://www.gosuslugi.ru/10056">https://www.gosuslugi.ru/10056</a>.
            Здесь необходимо выбрать причину замены удостоверения. Кликнув на необходимую причину вы увидите подробную
            инструкцию дальнейших действий. Сайт госуслуг построен достаточно просто и доступно.</p>

    </div>


    <div style=" clear: left ">
        <h3><b>Водительская медицинская справка нового образца (Форма 003-В/у)</b></h3>

        <br>
        <img src="{% static 'gibdd_app/images/workers_interface/med_003.jpg' %}" title="003 В/У"
             border="0" align="left"
             alt="med_003.jpg" width="420" height="310">
        <p style="margin-left: 450px">С «01» июля 2016 года вступил
            в силу в части порядка выдачи «Медицинского заключения о наличии (об отсутствии) у водителей транспортных
            средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или
            медицинских ограничений к управлению транспортными средствами» Приказ Министерства здравоохранения РФ от 15
            июня 2015 г. N 344н «О проведении обязательного медицинского освидетельствования водителей транспортных
            средств (кандидатов в водители транспортных средств)».</p>
        <p style="margin-left: 450px">Для оформления водительской медицинской справки нового образца 2016г. при себе
            необходимо иметь следующие
            документы:</p>
        <ul style="margin-left: 450px">
            <li><strong> Паспорт;</strong></li>
            <li><strong>Справка из психоневрологического диспансера по месту жительства о разрешении к управлению
                определёнными категориями;</strong></li>
            <li><strong>Справка из наркологического диспансера по месту жительства о разрешении к управлению
                определёнными категориями;</strong></li>
        </ul>
    </div>
    <div style="clear: left">

        <p>Объём исследований при прохождении медкомиссии для получения водительской справки нового образца (Форма
            003-В/у) теперь зависит от категории и подкатегорий водителей или кандидатов в водители транспортных
            средств.</p>
        <p><b>Для водителей категорий:</b></p>
        <table border="2">
            <tbody>
            <tr>
                <td>
                    <p align="center">Категория или подкатегория</p>
                </td>
                <td>
                    <p align="center">Тип транспортного средства</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>А</b></p>
                </td>
                <td>
                    <p align="center">Мотоциклы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>А1</b></p>
                </td>
                <td>
                    <p align="center">Легкие мотоциклы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>В</b></p>
                </td>
                <td>
                    <p align="center">Легковые автомобили, небольшие грузовики (до 3,5 тонн)</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>ВE</b></p>
                </td>
                <td>
                    <p align="center">Легковые автомобили с прицепом</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>В1</b></p>
                </td>
                <td>
                    <p align="center">Трициклы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>М</b></p>
                </td>
                <td>
                    <p align="center">Мопеды</p>
                </td>
            </tr>
            </tbody>
        </table>

        <p>
            <br>Медицинское освидетельствование (медкомиссия) включает в себя осмотры и обследования следующими
            специалистами:
        </p>
        <ul type="disc">
            <li>осмотр врачом-терапевтом;</li>

            <li>осмотр врачом-офтальмологом;</li>

            <li>обследование врачом-психиатром;</li>

            <li>обследование врачом-психиатром-наркологом.</li>
        </ul>
        <p>В случае выявления симптомов и синдромов заболевания (состояния), являющегося медицинским
            противопоказанием, медицинским показанием или медицинским ограничением к управлению транспортным средством,
            врач-терапевт дополнительно назначает осмотр врачом-неврологом.
            <br>
            Врач-невролог так же может дополнительно назначить проведение ЭЭГ (электроэнцефалографии), в случае
            выявления симптомов и синдромов заболевания (состояния), являющегося медицинским противопоказанием,
            медицинским показанием или медицинским ограничением к управлению транспортным средством.
            <br>

            <br>
            <b>Для водителей категорий:</b></p>

        <table border="2">
            <tbody>
            <tr>
                <td>
                    <p align="center">Категория или подкатегория</p>
                </td>
                <td>
                    <p align="center">Тип транспортного средства</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>С</b></p>
                </td>
                <td>
                    <p align="center">Грузовые автомобили (от 3,5 тонн)</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>СE</b></p>
                </td>
                <td>
                    <p align="center">Грузовые автомобили с прицепом</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>С1</b></p>
                </td>
                <td>
                    <p align="center">Средние грузовики (от 3,5 до 7,5 тонн)</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>С1E</b></p>
                </td>
                <td>
                    <p align="center">Средние грузовики с прицепом </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>D</b></p>
                </td>
                <td>
                    <p align="center">Автобусы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>DE</b></p>
                </td>
                <td>
                    <p align="center">Автобусы с прицепом</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>D1</b></p>
                </td>
                <td>
                    <p align="center">Небольшие автобусы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>D1E</b></p>
                </td>
                <td>
                    <p align="center">Небольшие автобусы с прицепом</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>Tm</b></p>
                </td>
                <td>
                    <p align="center">Трамваи</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>Tb</b></p>
                </td>
                <td>
                    <p align="center">Троллейбусы</p>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <br>
            Mедицинское освидетельствование (медкомиссия) включает в себя осмотры и обследования следующими
            специалистами: </p>
        <ul type="disc">
            <li>осмотр врачом-терапевтом;</li>

            <li>осмотр врачом-офтальмологом;</li>

            <li>обследование врачом-психиатром;</li>

            <li>обследование врачом-психиатром-наркологом;</li>

            <li>осмотр врачом-неврологом;</li>

            <li>осмотр врачом-оториноларинголог;</li>

            <li>ЭЭГ - электроэнцефалография.</li>
        </ul>
    </div>

{% endblock %}
</body>
</html>