{% extends 'gibdd_app/base.html' %}
<title>Список водителей</title>
{% load staticfiles %}
{% block header %}
    {#    <div class="left"><button class="btn-primary" type="button" onclick="history.back()">Назад</button></div>#}
    <h2><i><b>Список водителей</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form>
            <table border="2">
                <caption>Таблица водителей</caption>
                <th> ФИО водителя</th>
                <th> Дата рождения водителя</th>
                <th> Подробнее...</th>
                {% for obj in objects_list %}
                    <tr>
                        <div>
                            <td><p>{{ obj.driver_surname }} {{ obj.driver_name }} {{ obj.driver_patronymic }}</p></td>
                            <td align="center"><p>{{ obj.driver_birth }}</p></td>

                            <td align="center">
                                <button class="btn " type="button"><a
                                        href="{% url 'driver_detail' pk=obj.pk %}">Подробнее
                                    >></a></button>
                            </td>

                        </div>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% endblock %}
{% endblock %}


