{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="content-single-entry-content">
        <h2><i><b><u style="color: green">Как заполнять европротокол</u></b></i></h2>
        <p>Европротокол — это извещение о ДТП (выдается страховым агентом при выдаче полиса ОСАГО), заполнив которое, вы
            получаете право получить страховую выплату.</p>
        <h2>Когда действителен европротокол</h2>
        <p><img style="margin: 5px;"
                title="Европротокол картинка"
                src="{% static 'gibdd_app/images/workers_interface/evroprotocol_img.jpg' %}"
                alt="17 пункт европротокола"
                width="400" height="200"
                border="0"></p>
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>1. Нет пострадавших</td>
                <td>Т.е. ни пассажиры, ни пешеходы, ни водители не получили травм.</td>
            </tr>
            <tr>
                <td>2. Два автомобиля участвовали в ДТП</td>
                <td>Грузовой автомобиль с прицепом считается как 2 транспортных средства. В данном случае необходимо
                    вызывать сотрудников ГИБДД, оформлять ДТП по европротолу нельзя.
                </td>
            </tr>
            <tr>
                <td>3. Есть полис ОСАГО</td>
                <td>Оба автомобиля должны быть застрахованы по ОСАГО.</td>
            </tr>
            <tr>
                <td>4. Нет разногласий</td>
                <td>Один из участников аварии обязан признать себя виновным и сделать отметку в европротоколе о том, что
                    вину свою признает.
                </td>
            </tr>
            <tr>
                <td>5. Виновник предоставил свой автомобиль на осмотр</td>
                <td>В течении 5 дней виновник ДТП должен предоставить свой автомобиль для осмотра (по требованию
                    страховой) и передать свою часть извещения о ДТП страховой компании.
                </td>
            </tr>
            </tbody>
        </table>
        <h3>Какую выплату можно получить по европротоколу</h3>
        <p>По европротоколу можно получить до 50&nbsp;000 руб. для восстановления автомобиля.</p>
        <p>В Москве, Санкт-Петербурге, Московской области, Ленинградской области по европротоколу можно получить до 400&nbsp;000
            руб., если соблюдены следующие условия:</p>
        <ul>
            <li>фото- или видеосъемка транспортных средств;</li>
            <li>фото- или видеосъемка повреждений на месте ДТП;</li>
            <li>данные, зафиксированные с применением средств навигации, функционирующих с использованием технологий
                системы ГЛОНАСС
            </li>
        </ul>
        <h2>Ваши действия до составления европротокола</h2>
        <ol>
            <li>Убедитесь, что в ДТП нет пострадавших и участвовало только 2 автомобиля.</li>
            <li>Проверьте наличие полиса ОСАГО у вас и второго участника ДТП.</li>
            <li>Договоритесь, кто является виновником аварии.</li>
            <li>Сфотографируйте место ДТП (общую панораму, поврежденные элементы обоих автомобилей, следы торможения,
                обломки деталей,&nbsp; крупным планом оба автомобиля с номерными знаками).
            </li>
            <li>При наличии свидетелей зафиксируйте их ФИО, адрес, телефон. Возьмите письменные показания об
                обстоятельствах ДТП.
            </li>
        </ol>
        <h2>Как заполнять европротокол (извещение о ДТП)</h2>
        <p>При оформлении полиса ОСАГО страховщик выдает вам 2 экземпляра извещения о ДТП. Извещение о ДТП и есть
            европротокол, который необходимо заполнить. Он состоит из 3-х скрепленных между собой листов. Не отклеивая
            листы, заполняйте первый лист на второй все копируется. Рекомендуется заполнять шариковой ручкой.
            Европротокол составляется один обоими водителями, после чего расклеивается, заполняется оборотная сторона и
            по одному экземпляру каждому из водителей.</p>
        <p><img style="align: middle; margin: 5px;"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol1.gif' %}" width="600" border="0">
        </p>
        <p><b style="align:left">1. Место ДТП</b></p>
        <p>Укажите город, улицу и ближайший к месту аварии дом, либо пересечение улиц, если ДТП произошло на
            перекрестке. В не населенного пункта пропишите название трассы, либо дороги, километр и направление движения
            (Е95 305 км по направлению из Москвы в Санкт-Петербург).</p>
        <p><img style="align: middle; margin: 5px;"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol2.gif' %}" width="600" border="0">
        </p>
        <p><b>2. Дата ДТП</b></p>
        <p><b>3. Количество поврежденных ТС </b>ОБЯЗАТЕЛЬНО должно быть = 2. Если автомобилей белее 2-х, необходимо
            вызывать
            сотрудников ГИБДД.</p>
        <p><b>4. Раненых и погибших </b>вообще не должно быть. Если в аварии пострадал хотя бы один человек, так же
            необходимо
            вызывать сотрудников ГИБДД для оформления ДТП (европротокол в данном случае в не закона).</p>
        <p><b>5.</b> Освидетельствование участников ДТП на состояние опьянения не проводится при оформлении
            европротокола,
            направить на экспертизу может только гаишник, а мы их при оформлении европротокола не вызываем.</p>
        <p><img style="align: middle; margin: 5px;" title="как заполнять 6 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol3.gif' %}" alt="6 пункт европротокола"
                width="600" border="0"></p>
        <p><b>6.</b> Материальный ущерб другим ТС и имуществу</p>
        <p>Европротокол допускает участие только 2 ТС, обязательно должна стоять пометка в пункте 6 (Материальный ущерб,
            нанесенный другим транспортным средствам) в квадрате «нет»</p>
        <p>Укажите повреждено ли еще какое либо имущество (навигатор, ноутбук, телефон) в результате аварии. Общая сумма
            ущерба не должна превышать 25 000 руб</p>
        <p><img style="align: middle; margin: 5px;" title="7 пункт европротокола о наличии свидетелей"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol4.gif' %}" alt="7 пункт европротокола"
                width="600" border="0"></p>
        <p><b>7. Свидетели ДТП</b></p>
        <p>Рекомендуется указать 1-2 свидетелей аварии для подстраховки в случае спорной ситуации со страховой компанией
            и виновником аварии.</p>
        <p>Укажите их ФИО, адрес и контактный телефон.</p>
        <p><img style="align: middle; margin: 5px;" title="как заполнять 8 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol5.gif' %}" alt="8 пункт европротокола"
                width="600" border="0"></p>
        <p><b>8. Оформление сотрудниками ГИБДД</b></p>
        <p>Европротокол составляется без участия сотрудников ГИБДД, галочка в квадрате «нет».</p>
        <p><img style="margin: 5px;" title="как заполнять 9 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol6.gif' %}" alt="9 пункт европротокола"
                width="332" height="192"
                border="0"></p>
        <p><b>9. Транспортное средство «А»</b></p>
        <p>Пункт 9 заполняется данными из свидетельства о регистрации ТС.</p>
        <p><img style="margin: 5px;" title="как заполнять 10, 11 пункты европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol7.gif' %}"
                alt="10-11 пункты европротокола" width="332" height="356"
                border="0"></p>
        <p><b>10. Собственник ТС</b></p>
        <p>Лицо указанное, как собственник ТС в свидетельстве о регистрации ТС и его адрес.</p>
        <p><b>11. Водитель ТС</b></p>
        <p>Может расходится с собственником ТС. Страховая компания возместит ущерб собственнику или лицу имеющему
            нотариальную доверенность с правом получения страхового возмещения.</p>
        <p><img style="margin: 5px;" title="как заполнять 12 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol8.gif' %}" alt="12 пункт европротокола"
                width="332" height="145"
                border="0"></p>
        <p><b>12. Страховщик</b></p>
        <p>Укажите в какой страховой компании застрахован ваш автомобиль, номер полиса и дату окончания его
            действия.</p>
        <p><img style="margin: 5px;" title="как заполнять 13 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol9.gif' %}" alt="13 пункт европротокола"
                width="332" height="218"
                border="0"></p>
        <p><b>13. Место первоначального удара</b></p>
        <p>Укажите стрелкой в какую часть автомобиля пришелся первый удар.</p>
        <p><img style="margin: 5px;" title="как заполнять 14 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol10.gif' %}" alt="14 пункт европротокола"
                width="332" height="218"
                border="0"></p>
        <p><b>14. Характер и перечень повреждений</b></p>
        <p>Необходимо перечислить все поврежденный &nbsp;детали вашего автомобиля. А также степень их повреждения: скол,
            вмятина, царапина, потертость, трещина и т.д. От степени повреждения будет приниматься решение о ремонте или
            замене части автомобиля.</p>
        <p><img style="margin: 5px;" title="как заполнять 15 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol11.gif' %}" alt="15 пункт европротокола"
                width="337" height="110"
                border="0"></p>
        <p><b>15. Замечания ВАЖНЫЙ ПУНКТ!</b></p>
        <p>В замечании необходимо виновному водителю признать свою вину («Признаю себя виновным в ДТП»).</p>
        <p>Невиновному водителю подчеркнуть свою невиновность.</p>
        <p><img style="margin: 5px;" title="как заполнять 16 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol12.gif' %}" alt="16 пункт европротокола"
                width="490" height="1070"
                border="0"></p>
        <p><b>16. Обстоятельства ДТП</b></p>
        <p>Если вы начали заполнять извещение и указали себя как ТС «А» ваш столбик левый. Внимательно прочитайте все 22
            пункта и проставьте галочки напротив тех обстоятельств, которые соответствуют вашему маневру в момент ДТП.
            Не должно быть противоречий в указанных пунктах. Обстоятельства должны очевидно подтверждать вашу
            невиновность и вину второго участника.</p>
        <p><img style="margin: 5px;"
                title="как заполнять 17 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol13.gif' %}"
                alt="17 пункт европротокола"
                width="490" height="410"
                border="0"></p>
        <p><b>17. Схема ДТП</b></p>
        <p>Схема ДТП, как и обстоятельства должны удостоверять невиновность одного и вину другого водителя. Все, что
            является доказательством вашей невиновности должно быть отражено на схеме (знаки, разметка, направление
            движения и т.п.), а так обозначатся место ДТП с привязкой к перекрестку или номеру дома.</p>
        <p><img style="margin: 5px;" title="как заполнять 18 пункт европротокола"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol14.gif' %}" alt="18 пункт европротокола"
                width="490" height="191"
                border="0"></p>
        <p><b>18. Подписи водителей ВАЖНЫЙ ПУНКТ!</b></p>
        <p>Обязательно должны подписать заполненный европротокол оба водителя. Это удостоверяет об отсутствии
            разногласий между участниками ДТП. Послу подписания исправления в одностороннем порядке недопустимы.</p>
        <p><img style="align: middle; margin: 5px;"
                title="как заполнять 1 и 2 пункт европротокола на обратной стороне листа"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol15.gif' %}"
                alt="1 и 2 пункт европротокола на обратной стороне листа"
                width="600" border="0"></p>
        <h2><b>Оборотная сторона европротокола</b></h2>
        <p><b>1. Транспортное средство (обратная сторона европротокола)</b></p>
        <p>Укажите за какое ТС вы заполняли данные на лицевой стороне европротокола.</p>
        <p><b>2. Обстоятельства ДТП (обратная сторона европротокола)</b></p>
        <p>Коротко, но не упуская ключевых моментов опишите обстоятельства аварии. В какое время и день, по какой улице
            и в каком направлении вы двигались, либо стояли. Ваши маневры или их отсутствие. А так же действия второго
            участника аварии.</p>
        <p><img style="margin: 5px;" title="как заполнять 3 пункт европротокола (обратной стороны)"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol16.gif' %}"
                alt="3 пункт европротокола (обратная сторона)" width="600"
                border="0"></p>
        <p><b>3. ТС находился под управлением</b></p>
        <p>Отмечаем в квадрате, кто находился за рулем в момент аварии, собственник или нет.</p>
        <p><img style="align: middle; margin: 5px;" title="как заполнять 4 пункт европротокола (обратной стороны) "
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol17.gif' %}"
                alt="4 пункт европротокола (обратная сторона)" width="600"
                border="0"></p>
        <p><b>4. Более 2-х участников ДТП (обратная сторона европротокола)</b></p>
        <p>В данном поле должен стоять прочерк, европротокол допускает участия только 2-х автомобилей. Если ТС более 2-х
            необходимо вызывать для оформления ДТП сотрудников ГИБДД.</p>
        <p><img style="align: middle; margin: 5px;" title="как заполнять 5 пункт европротокола (обратной стороны)"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol18.gif' %}"
                alt="5 пункт евпропротокола (обратная сторона)"
                width="600" border="0"></p>
        <p><b>5. Поврежденное иное имущество (обратная сторона европротокола)</b></p>
        <p>Перечислите, какое имущество помимо автомобиля пострадало в аварии. Это может быть бытовая техника в
            багажнике, навигатор и т.п.</p>
        <p><img style="align: middle; margin: 5px;" title="как заполнять 6 пункт европротокола (обратной стороны)"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol19.gif' %}"
                alt="6 пункт европротокола (обратная сторона)" width="600"
                border="0"></p>
        <p><b>6. Может ли ТС передвигаться своим ходом</b></p>
        <p><img style="align: middle; margin: 5px;" title="как заполнять 7 пункт европротокола (обратной стороны)"
                src="{% static 'gibdd_app/images/workers_interface/evroprotokol20.gif' %}"
                alt="7 пункт европротокола (обратная сторона)" width="600"
                border="0"></p>
        <p><b>7. Примечание (обратная сторона европротокола)</b></p>
        <p>Если авария зафиксирована на видорегистратор или фотоаппарат, укажите данный факт.</p>

    </div>
{% endblock %}
</body>
</html>