{% extends 'gibdd_app/base.html' %}

{% block title %} Штраф{% endblock %}

{% block header %}
    Добавление штрафа
{% endblock %}
{% block content %}
    {% block form %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <table>
                {% for field in form %}
                    <div class="related-widget-wrapper">
                        {{ field.errors }}
                        <label>
                            {{ field.label_tag }}
                        </label>

                        {{ field }}

                        {% if field.name == "fine_license_data" %}
                            <a class="related-widget-wrapper-link add-related" href="{% url 'license_create' %}"> <span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить ВУ"> </span></a>
                        {% endif %}

                    </div>
                {% endfor %}
            </table>

            {% with url_name=request.resolver_match.url_name %}
                {% if url_name == 'fine_create' %}
                    <button class="btn btn-success" type="submit">Сохранить</button>
                    <button class="btn btn-default" type="button" onclick="history.back()">Назад</button>
                    {#        {% elif url_name == 'license_update' %}#}
                    {#            <button class="btn btn-warning" type="submit">Update</button>#}
                    {#            <button class="btn btn-info" type="button" onclick="history.back()">Назад</button>#}
                {% else %}
                    {#            <button class="btn btn-danger" type="submit">Delete</button>#}
                    <button class="btn btn-info" type="button" onclick="history.back()">Назад</button>
                {% endif %}
            {% endwith %}

        </form>
    {% endblock %}
{% endblock %}
