{% extends 'gibdd_app/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Госавтоинспекция</title>
</head>
<body>
{% block content %}
<div class="news_block block_size14">
    <h3>Начальник Главного управления по обеспечению безопасности дорожного движения Министерства внутренних дел Российской Федерации</h3>
    <div style="color: grey; margin: 5px 0;git commi">генерал-майор полиции</div>
            <div class="sd-image" style="float: left; margin: 0 30px 10px 0; border: none;">
            <img src="//xn--90adear.xn--p1ai/upload/site1000/division/employee/01Chernikov-179xx229.png">
        </div>

    <div class="detail doc-text">
<p style="text-align: justify;">Генерал-майор полиции начальник Главного управления по обеспечению безопасности дорожного движения Министерства внутренних дел Российской Федерации</p>
<p style="text-align: justify;">Черников Михаил Юрьевич родился 11 января 1974 года в г. Ачинске Красноярского края. Имеет два высших образования - инженерно-строительное и юридическое. В 1995 начал службу в органах внутренних дел в должности госавтоинспектора дорожного надзора ОГАИ УВД г. Ачинска.</p>
<p style="text-align: justify;">С 1996 по 2003 годы Михаил Юрьевич проходил службу в различных подразделениях УВД г. Ачинска, занимая должности от командира роты ДПС до начальника отдела ГИБДД. С 2003 года, являясь заместителем начальника управления, Михаил Юрьевич Черников возглавлял отдел кадров, позднее милицию общественной безопасности УВД г. Ачинска и Ачинского района.</p>
<p style="text-align: justify;">С мая 2006 года М.Ю. Черников руководил Управлением ГИБДД ГУВД Красноярского края. В 2011 году Михаил Юрьевич назначен на должность заместителя начальника ГУ МВД по Ставропольскому краю, а с февраля 2015 года возглавил УМВД России по Хабаровскому краю.</p>
<p style="text-align: justify;">17 июня 2017 года Указом Президента Российской Федерации генерал-майор полиции Михаил Юрьевич Черников назначен на должность начальника Главного управления по обеспечению безопасности дорожного движения Министерства внутренних дел Российской Федерации.</p>
<p style="text-align: justify;">Черников М.Ю. является мастером спорта СССР по гиревому спорту, кандидатом в мастера спорта по дзюдо.</p>
<p style="text-align: justify;">Женат, воспитывает двоих детей.</p>
</div>
</div>
{% endblock %}
</body>
</html>