{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}

<title>History_detail</title>
{% block content %}

    {% block form %}
        <form>


            <div class="col-sm-12 col-md-9">
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <button type="button" onclick="history.back()"><span
                                class="glyphicon glyphicon-arrow-left"
                                style="color:blue"
                                title="Назад"> </span>
                        </button>
                        <div class="active"><a href="{% url 'history_update' pk=obj.pk %}"><span
                                class="glyphicon glyphicon-pencil"
                                style="color:darkorange"
                                title="Редактировать историю"> </span></a></div>
                        <div class="active"><a href="{% url 'history_delete' pk=obj.pk %}"><span
                                class="glyphicon glyphicon-trash"
                                style="color:red"
                                title="Удалить историю"> </span></a></div>
                    </ul>
                </div>
                <h2><i><b>Автомобиль: {{ obj.car_item }}</b></i></h2>
                <p>ФИО владельца автомобиля: {{ obj.history_FIO }} </p>
                <p>Дата рождения владельца: {{ obj.history_birth }}</p>
                <p>Номер паспорта владельца: {{ obj.history_passport }}</p>
                <p>Страна: {{ obj.history_country }}</p>
                <p> Город: {{ obj.history_town }}</p>
                <p> Дата владения от: {{ obj.history_date_from }}</p>
                <p> Дата владения до: {{ obj.history_date_to }}</p>
                <p> Документ, подтверждающий приобретение: {{ obj.history_document_buy }}</p>
                <p> Документ, подтверждающий продажу: {{ obj.history_document_selling }}</p>
                <p> Сумма покупки: {{ obj.history_price_buy }}</p>
                <p> Сумма продажи: {{ obj.history_price_selling }}</p>
                <p> Особые отметки: {{ obj.history_comments }}</p>
            </div>

        </form>
    {% endblock %}
{% endblock %}
