{% extends 'gibdd_app/base.html' %}

<title>Список сотрудников ГИБДД</title>
{% load staticfiles %}
{% block header %}
    <h2><i><b>Список сотрудников ГИБДД</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form>
            <table border="2">
                <caption>Таблица сотрудников ГИБДД</caption>
                <th> Номер жетона</th>
                <th> ФИО сотрудника</th>
                <th>Звание инспектора</th>
                <th> Подробнее...</th>
                {% for obj in objects_list %}
                    <tr>
                        <div>
                            <td><p><a
                                    href="{% url 'inspector_detail' pk=obj.pk %}">{{ obj.inspector_number_token }}
                            </a></p></td>
                            <td><p>{{ obj.inspector_surname }}{{ obj.inspector_name }}{{ obj.inspector_patronymic }}</p>
                            </td>
                            <td><p>{{ obj.inspector_status }}</p></td>
                            <td>
                                <button class="btn-info" type="button"><a
                                        href="{% url 'inspector_detail' pk=obj.pk %}">Подробнее
                                    >></a></button>
                            </td>
                        </div>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% endblock %}
{% endblock %}