{% extends 'gibdd_app/base.html' %}
<title>Lisense_detail</title>
{% load staticfiles %}

{% block content %}

    {% block form %}
        <button class="btn-primary" type="button" onclick="history.back()">Назад</button>
        <form>


            <div class="col-sm-12 col-md-9" style="border: 3px solid darkblue">
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'license_update' pk=obj.pk %}">Редактировать</a></li>
                        <li class="active"><a href="{% url 'license_delete' pk=obj.pk %}">Удалить</a></li>
                    </ul>
                </div>
                <h2>Данные о водителе: {{ obj.driver_data }} </h2>
                <p>Фото на ВУ: <img src="{{ MEDIA_URL }}{{ obj.image_url|default_if_none:'#' }}"
                                    style="width: 100px"></p>
                <p>Серия ВУ: {{ obj.series_dr_license }} № {{ obj.number_dr_license }}</p>
                <p>Статус прав: {{ obj.status_dr_license }}</p>
                <p>Дата выдачи ВУ: {{ obj.date_issue_dr_license }}</p>
                <p>Дата окончания действия ВУ: {{ obj.date_end_dr_license }}</p>
                <p>Подразделение ГИБДД, выдавшее ВУ: {{ obj.division_give_dr_license }}</p>
                <p>Город выдачи ВУ: {{ obj.town_dr_license }}</p>
                <p>Данные о доступных категорях: {{ obj.category_dr_license_data }}</p>
                <p>Данные о мед. справках: {{ obj.medical_certificate_data }}</p>
            </div>

        </form>
    {% endblock %}
{% endblock %}
