{% extends 'gibdd_app/base.html' %}
<title>Lisense_detail</title>
{% load staticfiles %}

{% block content %}

    {% block form %}
        <form>


            <div class="col-sm-12 col-md-9">
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <button type="button" onclick="history.back()"><span
                                class="glyphicon glyphicon-arrow-left"
                                style="color:blue"
                                title="Назад"> </span>
                        </button>
                        <div class="active"><a href="{% url 'license_update' pk=obj.pk %}"><span
                                class="glyphicon glyphicon-pencil"
                                style="color:darkorange"
                                title="Редактировать ВУ"> </span></a></div>
                        <div class="active"><a href="{% url 'license_delete' pk=obj.pk %}"><span
                                class="glyphicon glyphicon-trash"
                                style="color:red"
                                title="Удалить ВУ"> </span></a></div>
                    </ul>
                </div>
                <div style="float:left"><p><img src="{{ MEDIA_URL }}{{ obj.image_url|default_if_none:'#' }}"
                                                style="width: 300px"></p></div>
                <div style="margin-left: 350px">
                    <h2><i><b> {{ obj.driver_data }} </b></i></h2>
                    <p>Статус прав: {{ obj.short_status_license }}</p>
                    <p>Серия ВУ: {{ obj.series_dr_license }} № {{ obj.number_dr_license }}</p>
                    <p>Данные о лишении прав: {{ obj.status_dr_license }}</p>
                    <p>Дата выдачи ВУ: {{ obj.date_issue_dr_license }}</p>
                    <p>Дата окончания действия ВУ: {{ obj.date_end_dr_license }}</p>
                    <p>Подразделение ГИБДД, выдавшее ВУ: {{ obj.division_give_dr_license }}</p>
                    <p>Город выдачи ВУ: {{ obj.town_dr_license }}</p>
                    <p>Данные о мед. справках: {{ obj.medical_certificate_data }}</p>
                </div>
            </div>

        </form>
    {% endblock %}
{% endblock %}
