{% extends 'gibdd_app/base.html' %}
<title>Lisense_detail</title>
{% load staticfiles %}

{% block content %}

    {% block form %}
        <button class="btn-primary" type="button" onclick="history.back()">Назад</button>
        <form>


            <div class="col-sm-12 col-md-9" style="border: 3px solid darkblue">
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'license_update' pk=obj.pk %}">Редактировать</a></li>
                        <li class="active"><a href="{% url 'license_delete' pk=obj.pk %}">Удалить</a></li>
                    </ul>
                </div>
                <h2>Серия ВУ: {{ obj.series_dr_license }} № {{ obj.number_dr_license }}</h2>
                <p>Статус прав: {{ obj.status_dr_license }}</p>
                <p>Дата выдачи ВУ: {{ obj.date_issue_dr_license }}</p>
                <p>Дата окончания действия ВУ: {{ obj.date_end_dr_license }}</p>
            </div>

        </form>
    {% endblock %}
{% endblock %}


{#driver_data = models.OneToOneField(Driver, on_delete=models.CASCADE, verbose_name="Данные о водителе")#}
{#    category_dr_license_data = models.ForeignKey(Category, verbose_name="Данные о доступных категорях",on_delete=models.CASCADE,null=True)#}
{#    medical_certificate_data = models.OneToOneField(MedicalCertificate, on_delete=models.CASCADE,#}
{#                                                    verbose_name="Данные о мед. справках")#}
{#    photo_dr_license = models.ImageField(upload_to='driving_license_photo/',#}
{#                                         default='driving_license_photo/default_photo_dr_license.jpg',#}
{#                                         verbose_name="Фото ВУ")#}
{#    status_dr_license = models.OneToOneField(LicenseDisqualification, on_delete=models.CASCADE,#}
{#                                             verbose_name="Статус прав")#}
{#    division_give_dr_license = models.CharField(max_length=100, verbose_name="Подразделение ГИБДД, выдавшее ВУ")#}
{#    town_dr_license = models.CharField(max_length=100, verbose_name="Город выдачи ВУ")#}