{% extends 'gibdd_app/base.html' %}

<title>Список о статусе прав (лишение)</title>
{% load staticfiles %}
{% block header %}
    {#    <div class="left"><button class="btn-primary" type="button" onclick="history.back()">Назад</button></div>#}
    <h2><i><b>Список о статусе прав (лишение) </b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form>
            <table border="2">
                <caption>Таблица о лишениях прав</caption>
                <th>Статус прав</th>
                <th> Срок лишения прав</th>
                <th> Дата лишения прав</th>
                <th>Подробнее>></th>
                {% for obj in objects_list %}
                    <tr>
                        <div>
                            <td><p> {{ obj.disqualif_status }}</p></td>
                            <td><p> {{ obj.disqualif_time }}</p></td>
                            <td><p> {{ obj.disqualif_date_from }}</p></td>
                            <td>
                                <button class="btn" type="button"><a href="{% url 'disq_detail' pk=obj.pk %}">Подробнее
                                    >></a></button>
                            </td>

                        </div>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% endblock %}
{% endblock %}


