{% extends 'gibdd_app/base.html' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div align="center" style="position:relative; top:60px">
        {% block header %}<h2>Авторизация пользователей</h2>

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-primary" type="submit">Авторизоваться</button>
                <button class="btn-primary" type="button" onclick="history.back()">Назад</button>
            </form>

        {% endblock %}
    </div>

{% endblock %}


