{% extends 'gibdd_app/base_login.html' %}

{% block title %}Авторизация{% endblock %}


{% block header %}
    <div align="center" style="position:relative; margin: auto; padding: 1px;  height:auto; top:80px"> Авторизация пользователей</div>
{% endblock %}
{% block content %}
    {% block form %}
        <form action="{% url 'login' %}" method="POST"  style="position:relative; margin: auto; padding: 1px;  height:auto; top:80px">
            {% csrf_token %}
            <table align="center">
                {{ form.as_table }}
            </table>
            <button class="btn btn-success" type="submit">Авторизоваться</button>
            <button class="btn navbar-btn" type="button" onclick="history.back()">Назад</button>
        </form>
    {% endblock %}

{% endblock %}


