{% extends 'gibdd_app/base.html' %}

{% block title %}Авторизация{% endblock %}


{% block header %}
    Авторизация пользователей
{% endblock %}
{% block content %}
    {% block form %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button class="btn-primary" type="submit">Авторизоваться</button>
            <button class="btn-primary" type="button" onclick="history.back()">Назад</button>
        </form>
    {% endblock %}
{% endblock %}




