{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница ГИБДД</title>

    <!-- Bootstrap -->
    <link href="{% static 'gibdd_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'gibdd_app/css/font-awesome.min.css' %}">
    <link href="{% static 'gibdd_app/css/animate.min.css' %}" rel="stylesheet">
    {#    <link href="{% static 'gibdd_app/css/prettyPhoto.css' %}" rel="stylesheet">#}
    <link href="{% static 'gibdd_app/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'gibdd_app/css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{% static 'gibdd_app/js/html5shiv.js' %}"></script>
    <script src="{% static 'gibdd_app/js/respond.min.js' %}"></script>
     <script src="{% static 'gibdd_app/js/bootstrap.js' %}"></script>
      <script src="{% static 'gibdd_app/js/jquery.js' %}"></script>
      <script src="{% static 'gibdd_app/js/jquery.js' %}"></script>
    <![endif]-->

</head>

<body class="homepage">
{#<header id="header">#}
<nav class="navbar navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="navbar" class="navbar-collapse collapse" style="position:relative; left: 950px; top: 50px">
                {% if user.is_authenticated %}
                    <button id="signout" type="submit" class="btn btn-success button_style">
                        Выйти {{ user.username }}</button>
                {% else %}
                    <button id="signin" type="submit" class="btn btn button_style">Авторизоваться</button>

                {% endif %}
            </div>


            <a class="navbar-left" style="margin-left: -40px; margin-top:-30px">
                <img src="{% static 'gibdd_app/images/logo.png' %}" alt="Логотип">
            </a>
            <a class="navbar-brand" href="{% url 'main' %}">ГОСАВТОИНСПЕКЦИЯ</a>
            <div class="bn-logo-text" style="top:80px; color:white">УВАЖЕНИЕ ПРОФЕССИОНАЛИЗМ БЕЗОПАСНОСТЬ
            </div>
        </div>

        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'main' %}">Home</a></li>
                <li><a href="{% url 'gibdd' %}">Госавтоинспекция</a></li>
                <li><a href="{% url 'participants' %}">Участникам движения</a></li>
                <li><a href="{% url 'services' %}">Услуги</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'workers' %}">Сотрудникам</a></li>
                {% endif %}
                <li><a href="{% url 'statistics' %}">Статистика</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </div><!--/.container-->
</nav><!--/nav-->
{#</header><!--/header-->#}


<div class="slider" style="top:95px">
    <div class="container">
        {#        <div id="about-slider">#}
        <div id="carousel-slider" class="carousel slide" data-ride="carousel" align="center"
             style="position:relative">
            <!-- Indicators -->
            <ol class="carousel-indicators visible-xs">
                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-slider" data-slide-to="1"></li>
                <li data-target="#carousel-slider" data-slide-to="2"></li>
                <li data-target="#carousel-slider" data-slide-to="3"></li>
                <li data-target="#carousel-slider" data-slide-to="4"></li>
                <li data-target="#carousel-slider" data-slide-to="5"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active" align="center">
                    <img src="{% static 'gibdd_app/images/slider__one.jpg' %}" width="900" height="450"
                         class="img-responsive" alt="">
                </div>

                <div class="item" align="center">
                    <img src="{% static 'gibdd_app/images/slider_two.jpg' %}" width="900" height="450"
                         class="img-responsive" alt="">
                </div>
                <div class="item" align="center">

                    <img src="{% static 'gibdd_app/images/slider_three.jpg' %}" width="900" height="450"
                         class="img-responsive" alt="">
                </div>
                <div class="item" align="center">

                    <img src="{% static 'gibdd_app/images/slider_four.jpg' %}" width="900" height="450"
                         class="img-responsive" alt="">
                </div>

                <div class="item" align="center">

                    <img src="{% static 'gibdd_app/images/slider_five.jpg' %}" width="900" height="450"
                         class="img-responsive" alt="">
                </div>
                <div class="item" align="center">

                    <img src="{% static 'gibdd_app/images/slider_six.jpg' %}" width="900" height="450"
                         class="img-responsive" alt="">
                </div>

            </div>
            <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>

            <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div> <!--/#carousel-slider-->

        {#        </div><!--/#about-slider-->#}
    </div>
</div>

<div class="top-bar" style="position:relative; margin: auto; padding: 1px;  height:auto; top:100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social">
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->


<footer class="footer"
        style="position:relative; margin: auto; padding: 1px;  height:auto; top:100px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; 2018 Chekulina Marina, BMSTU.</p>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'gibdd_app/js/jquery.js' %}"></script>
<script src="{% static 'gibdd_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'gibdd_app/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'gibdd_app/js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'gibdd_app/js/wow.min.js' %}"></script>
<script src="{% static 'gibdd_app/js/main.js' %}"></script>


    <script>
        var signin = document.getElementById('signin');
        if (signin != undefined) {
            signin.onclick = function (event) {
                window.location = '{% url 'login' %}';
                event.stopPropagation();
            }
        }
        {#    var signup = document.getElementById('signup');#}
        {#    if (signup != undefined) {#}
        {#        signup.onclick = function (event) {#}
        {#            window.location = '{% url 'registration' %}';#}
        {#            event.stopPropagation();#}
        {#        }#}
        {#    }#}
        var signout = document.getElementById('signout');
        if (signout != undefined) {
            signout.onclick = function (event) {
                window.location = '{% url 'logout' %}';
                event.stopPropagation();
            }
        }
        {#    var _new = document.getElementById('_new');#}
        {#    if (_new != undefined) {#}
        {#        _new.onclick = function (event) {#}
        {#            window.location = '{% url 'new' %}';#}
        {#            event.stopPropagation();#}
        {#        }#}
        {#    }#}

    </script>

</body>
</html>