{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>med003</title>
</head>
<body>
{% block content %}
    <div style=" clear: left ">
        <h3><b>Водительская медицинская справка нового образца (Форма 003-В/у)</b></h3>

        <br>
        <img src="{% static 'gibdd_app/images/workers_interface/med_003.jpg' %}" title="003 В/У"
             border="0" align="left"
             alt="med_003.jpg" width="420" height="310">
        <p style="margin-left: 450px">С «01» июля 2016 года вступил
            в силу в части порядка выдачи «Медицинского заключения о наличии (об отсутствии) у водителей транспортных
            средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или
            медицинских ограничений к управлению транспортными средствами» Приказ Министерства здравоохранения РФ от 15
            июня 2015 г. N 344н «О проведении обязательного медицинского освидетельствования водителей транспортных
            средств (кандидатов в водители транспортных средств)».</p>
        <p style="margin-left: 450px">Для оформления водительской медицинской справки нового образца 2016г. при себе
            необходимо иметь следующие
            документы:</p>
        <ul style="margin-left: 450px">
            <li><strong> Паспорт;</strong></li>
            <li><strong>Справка из психоневрологического диспансера по месту жительства о разрешении к управлению
                определёнными категориями;</strong></li>
            <li><strong>Справка из наркологического диспансера по месту жительства о разрешении к управлению
                определёнными категориями;</strong></li>
        </ul>
    </div>
    <div style="clear: left">

        <p>Объём исследований при прохождении медкомиссии для получения водительской справки нового образца (Форма
            003-В/у) теперь зависит от категории и подкатегорий водителей или кандидатов в водители транспортных
            средств.</p>
        <p><b>Для водителей категорий:</b></p>
        <table border="2">
            <tbody>
            <tr>
                <td>
                    <p align="center">Категория или подкатегория</p>
                </td>
                <td>
                    <p align="center">Тип транспортного средства</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>А</b></p>
                </td>
                <td>
                    <p align="center">Мотоциклы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>А1</b></p>
                </td>
                <td>
                    <p align="center">Легкие мотоциклы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>В</b></p>
                </td>
                <td>
                    <p align="center">Легковые автомобили, небольшие грузовики (до 3,5 тонн)</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>ВE</b></p>
                </td>
                <td>
                    <p align="center">Легковые автомобили с прицепом</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>В1</b></p>
                </td>
                <td>
                    <p align="center">Трициклы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>М</b></p>
                </td>
                <td>
                    <p align="center">Мопеды</p>
                </td>
            </tr>
            </tbody>
        </table>

        <p>
            <br>Медицинское освидетельствование (медкомиссия) включает в себя осмотры и обследования следующими
            специалистами:
        </p>
        <ul type="disc">
            <li>осмотр врачом-терапевтом;</li>

            <li>осмотр врачом-офтальмологом;</li>

            <li>обследование врачом-психиатром;</li>

            <li>обследование врачом-психиатром-наркологом.</li>
        </ul>
        <p>В случае выявления симптомов и синдромов заболевания (состояния), являющегося медицинским
            противопоказанием, медицинским показанием или медицинским ограничением к управлению транспортным средством,
            врач-терапевт дополнительно назначает осмотр врачом-неврологом.
            <br>
            Врач-невролог так же может дополнительно назначить проведение ЭЭГ (электроэнцефалографии), в случае
            выявления симптомов и синдромов заболевания (состояния), являющегося медицинским противопоказанием,
            медицинским показанием или медицинским ограничением к управлению транспортным средством.
            <br>

            <br>
            <b>Для водителей категорий:</b></p>

        <table border="2">
            <tbody>
            <tr>
                <td>
                    <p align="center">Категория или подкатегория</p>
                </td>
                <td>
                    <p align="center">Тип транспортного средства</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>С</b></p>
                </td>
                <td>
                    <p align="center">Грузовые автомобили (от 3,5 тонн)</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>СE</b></p>
                </td>
                <td>
                    <p align="center">Грузовые автомобили с прицепом</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>С1</b></p>
                </td>
                <td>
                    <p align="center">Средние грузовики (от 3,5 до 7,5 тонн)</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>С1E</b></p>
                </td>
                <td>
                    <p align="center">Средние грузовики с прицепом </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>D</b></p>
                </td>
                <td>
                    <p align="center">Автобусы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>DE</b></p>
                </td>
                <td>
                    <p align="center">Автобусы с прицепом</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>D1</b></p>
                </td>
                <td>
                    <p align="center">Небольшие автобусы</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>D1E</b></p>
                </td>
                <td>
                    <p align="center">Небольшие автобусы с прицепом</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>Tm</b></p>
                </td>
                <td>
                    <p align="center">Трамваи</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p align="center"><b>Tb</b></p>
                </td>
                <td>
                    <p align="center">Троллейбусы</p>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <br>
            Mедицинское освидетельствование (медкомиссия) включает в себя осмотры и обследования следующими
            специалистами: </p>
        <ul type="disc">
            <li>осмотр врачом-терапевтом;</li>

            <li>осмотр врачом-офтальмологом;</li>

            <li>обследование врачом-психиатром;</li>

            <li>обследование врачом-психиатром-наркологом;</li>

            <li>осмотр врачом-неврологом;</li>

            <li>осмотр врачом-оториноларинголог;</li>

            <li>ЭЭГ - электроэнцефалография.</li>
        </ul>
    </div>

{% endblock %}

</body>
</html>