<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>med all</title>
</head>
<body>

</body>
</html>


{% block header %} Здесь надо добавить список работ с формой
    <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'med_create' %}">med_create</a></li>
                    <li><a href="{% url 'med_update' %}">med_update</a></li>
{#                    <li><a href="{% url 'med_update' %}">license_create</a></li>#}
{#                    <li><a href="{% url 'category_create' %}">category_create</a></li>#}
                </ul>
            </div>
{% endblock %}
