{% extends 'gibdd_app/base.html' %}
<title>Список</title>
{% load staticfiles %}
{% block header %}
    {#    <div class="left"><button class="btn-primary" type="button" onclick="history.back()">Назад</button></div>#}
    <h2><i><b>Список медицинских справок</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form method="GET" action="{% url 'med_search' %}">
            <p>Вы ищете справку №: <strong><input name="q" value="{{ request.GET.q }}"
                                                  placeholder="Search..."></strong>
                <button type="submit"><span class="glyphicon glyphicon-search"
                                            style="color:grey"
                                            title="Поиск мед.справок"> </span>
                    Поиск
                </button>

            </p>
            {% with url_name=request.resolver_match.url_name %}
                {% if url_name == 'med_search' %}
                    {% if meds %}
                        <p>Результат поиска: {{ meds|length }} шт.
                            {#                    {{ meds|pluralize }}.#}
                        </p>
                        <table border="2">
                            <caption>Таблица найденных справок</caption>
                            <th> № справки:</th>
                            <th> Дата выдачи:</th>
                            <th> Диагноз:</th>
                            <th> Срок действия:</th>

                            {% for med in meds %}

                                <tr>
                                    <td> {{ med.medical_number }}</td>
                                    <td>{{ med.medical_date }}</td>
                                    <td>{{ med.diagnosis }}</td>
                                    <td> {{ med.validity }}</td>

                                </tr>
                            {% endfor %}

                        </table>
                    {% else %}
                        <p>Нет справок по заданному критерию.</p>
                    {% endif %}
                    </form>

                {% else %}
                    <table border="2">
                        <caption>Таблица штрафов</caption>
                        <th> № справки</th>
                        <th> Дата выдачи</th>
                        <th> Диагноз</th>
                        <th> Подробнее...</th>
                        {% for obj in objects_list %}
                            <tr>
                                <div>
                                    <td><p>{{ obj.medical_number }}</p></td>
                                    <td><p>{{ obj.medical_date }}</p></td>
                                    <td><p>{{ obj.diagnosis }}</p></td>
                                    <td>
                                        <button class="btn-info" type="button"><a
                                                href="{% url 'med_detail' pk=obj.pk %}">Подробнее
                                            >></a></button>
                                    </td>

                                </div>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endwith %}
    {% endblock %}
{% endblock %}