<title>Список</title>
{% load staticfiles %}
{% block content %}
    {% block form %}
    <form>
{% for obj in objects_list %}

        <h1>{{obj.medical_number}}</h1>
        <p>{{obj.medical_date}}</p>
        <p>{{obj.diagnosis}}</p>
        <p>{{obj.organization_give}}</p>
        <p>{{obj.validity}}</p>
{#        <p>{{obj.med_photo_1}}</p>#}
{#   <p> <img src="{{ MEDIA_URL }}{{ obj.med_photo_1.url}}"  style="width: 100px">#}
{#    <p><img src="{{ obj.med_photo_1.url }}"></p>#}
{#    <img src="{{ MEDIA_URL }}{{ obj.med_photo_2.url}}"  style="width: 100px"></p>#}


{% endfor %}
      </form>
        {% endblock %}
{% endblock %}