{% extends 'gibdd_app/base.html' %}
<title>Список штрафов</title>
{% load staticfiles %}
{% block header %}
    {#    <div class="left"><button class="btn-primary" type="button" onclick="history.back()">Назад</button></div>#}
    <h2><i><b>Поиск штрафов, числящихся на автомобиле.</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form method="GET" action="{% url 'mix_search' %}">
            <p><i>Для поиска штрафов введите № СТС и № а/м через <b>один пробел</b>. Русские буквы могут быть введены
                как
                строчные, так и заглавные.</i></p>
            <p><b><i>Например,</i></b> 1234№123456 А111АА777 <i> или</i> 1234№123456 а111аа777. </p>
            <p> Поиск штрафов: <strong><input minlength="11" maxlength="11" name="q" value="{{ request.GET.q }}"
                                              placeholder="1234№123456"></strong>
                <strong><input minlength="8" maxlength="9" name="p" value="{{ request.GET.p }}"
                               placeholder="А111АА777"></strong>

                <button type="submit"><span class="glyphicon glyphicon-search"
                                            style="color:grey"
                                            title="Поиск штрафов"> </span>
                    Поиск
                </button>

            </p>
            {% with url_name=request.resolver_match.url_name %}
                {% if url_name == 'mix_search' %}
                    {% if regs %}
                        <p>Результат поиска: {{ regs|length }} шт.
                            {#                            {{ regs|pluralize }}.#}
                        </p>
                        <table border="2">
                            <caption>Таблица штрафов с личными данными</caption>
                            <th> №</th>
                            <th> № постановления</th>
                            <th> Статус штрафа</th>
                            <th> Дата постановления</th>
                            <th> Сумма</th>
                            <th> Скидка</th>
                            <th> № СТС</th>
                            <th> № авто</th>
                            <th> Серия ВУ</th>
                            <th> № ВУ</th>

                            {% for obj in regs %}

                                <tr>
                                    <td><p>{{ obj.pk }}</p></td>
                                    <td><p>{{ obj.fine_decree_data__decree_number }}</p></td>
                                    <td><p>{{ obj.fine_status }}</p></td>
                                    <td><p>{{ obj.fine_decree_data__decree_date }}</p></td>
                                    <td><p>{{ obj.fine_amount }}</p></td>
                                    <td><p>{{ obj.fine_discount }}</p></td>
                                    <td>
                                        <p>{{ obj.fine_car_data__car_registr_certificate__registr_certificate_number }}</p>
                                    </td>
                                    <td>
                                        <p>{{ obj.fine_car_data__car_registr_certificate__registr_certificate_registr_sign }}</p>
                                    </td>
                                    <td><p>{{ obj.fine_license_data__series_dr_license }}</p></td>
                                    <td><p>{{ obj.fine_license_data__number_dr_license }}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>Нет штрафов по заданному критерию.</p>
                    {% endif %}
                    </form>

                {% else %}
                    {% if user.is_authenticated %}
                        <table border="2">
                            <caption>Таблица штрафов с личными даннымиы</caption>
                            <th> №</th>
                            <th> № постановленияя</th>
                            <th> Дата постановления</th>
                            <th> Статус штрафа</th>
                            <th> Сумма</th>
                            <th> Скидка</th>
                            <th> № СТС</th>
                            <th> № авто</th>
                            <th> Серия ВУ</th>
                            <th> № ВУ</th>
                            {% for obj in objects_list %}
                                <tr>
                                    <div>
                                        <td><p>{{ obj.pk }}</p></td>
                                        <td><p>{{ obj.fine_decree_data__decree_number }}</p></td>
                                        <td><p>{{ obj.fine_decree_data__decree_date }}</p></td>
                                        <td><p>{{ obj.fine_status }}</p></td>
                                        <td><p>{{ obj.fine_amount }}</p></td>
                                        <td><p>{{ obj.fine_discount }}</p></td>
                                        <td>
                                            <p>{{ obj.fine_car_data__car_registr_certificate__registr_certificate_number }}</p>
                                        </td>
                                        <td>
                                            <p>{{ obj.fine_car_data__car_registr_certificate__registr_certificate_registr_sign }}</p>
                                        </td>
                                        <td><p>{{ obj.fine_license_data__series_dr_license }}</p></td>
                                        <td><p>{{ obj.fine_license_data__number_dr_license }}</p></td>

                                        {#                            <button class="btn-info" type="button"><a#}
                                        {#                                    href="{% url 'med_detail' pk=obj.pk %}">Подробнее#}
                                        {#                                >></a></button>#}


                                    </div>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}
            {% endwith %}
    {% endblock %}
{% endblock %}