{% extends 'gibdd_app/base.html' %}
<title>Угон автомобиля</title>
{% load staticfiles %}
{% block header %}
    {#    <div class="left"><button class="btn-primary" type="button" onclick="history.back()">Назад</button></div>#}
    <h2><i><b>Проверка: числится ли автомобиль в угоне.</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form method="GET" action="{% url 'mix_search_VIN_stealing' %}">
            <p><i>Для поиска введите VIN автомобиля, состоящий из 17 знаков. Английские буквы могут быть введены как
                строчные, так и заглавные.</i></p>
            <p><b><i>Например,</i></b> ABCDEFG11A1234567 <i> или</i> abcdefg11a1234567. </p>
            <p> Поиск: <strong><input maxlength="17" minlength="17" name="q" value="{{ request.GET.q }}"
                                      placeholder="ABCDEFG11A1234567"></strong>

                <button type="submit"><span class="glyphicon glyphicon-search"
                                            style="color:grey"
                                            title="Статус угона по VIN"> </span>
                    Поиск
                </button>

            </p>
            {% with url_name=request.resolver_match.url_name %}
                {% if url_name == 'mix_search_VIN_stealing' %}
                    {% if regs %}
                        <p>Результат поиска: {{ regs|length }} шт.
                            {#                            {{ regs|pluralize }}.#}
                        </p>
                        <table border="2">
                            <caption>Таблица с данными угона</caption>
                            <th> №</th>
                            <th> VIN</th>
                            <th>№ СТС</th>
                            <th>Модель автомобиля</th>
                            <th>Цвет автомобиля</th>
                            <th> Фамилия и имя собственника</th>
                            <th>Статус автомобиля</th>
                            <th>Дата угона</th>
                            <th>Город угона</th>

                            {% for obj in regs %}

                                <tr>
                                    <td><p>{{ obj.pk }}</p></td>
                                    <td><p>{{ obj.car_registr_certificate__registr_certificate_VIN }}</p></td>
                                    <td><p>{{ obj.car_registr_certificate__registr_certificate_number }}</p></td>
                                    <td align="center">
                                        <p>{{ obj.car_registr_certificate__registr_certificate_car_model }}</p></td>
                                    <td align="center">
                                        <p>{{ obj.car_registr_certificate__registr_certificate_colour }}</p></td>
                                    <td><p>{{ obj.car_owner__owner_surname }} {{ obj.car_owner__owner_name }}</p>
                                    </td>
                                    <td align="center">
                                        <p>{{ obj.car_stealing__stealing_status|default_if_none:'нет данных' }}</p>
                                    </td>
                                    <td align="center">
                                        <p>{{ obj.car_stealing__stealing_date|default_if_none:'нет данных' }}</p></td>
                                    <td align="center">
                                        <p>{{ obj.car_stealing__stealing_town|default_if_none:'нет данных' }}</p></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>Данный автомобиль не числится в угоне.</p>
                    {% endif %}
                    </form>

                {% else %}
                    {% if user.is_authenticated %}
                        <table border="2">
                            <caption>Таблица с данными угона</caption>
                            <th> №</th>
                            <th> VIN</th>
                            <th>№ СТС</th>
                            <th>Модель автомобиля</th>
                            <th>Цвет автомобиля</th>
                            <th> Фамилия и имя собственника</th>
                            <th>Статус автомобиля</th>
                            <th>Дата угона</th>
                            <th>Город угона</th>
                            {% for obj in objects_list %}
                                <tr>
                                    <div>
                                        <td><p>{{ obj.pk }}</p></td>
                                        <td><p>{{ obj.car_registr_certificate__registr_certificate_VIN }}</p></td>
                                        <td><p>{{ obj.car_registr_certificate__registr_certificate_number }}</p></td>
                                        <td align="center"><p>{{ obj.car_registr_certificate__registr_certificate_car_model }}</p></td>
                                        <td align="center"><p>{{ obj.car_registr_certificate__registr_certificate_colour }}</p></td>
                                        <td ><p>{{ obj.car_owner__owner_surname }} {{ obj.car_owner__owner_name }}</p>
                                        </td>
                                        <td align="center">
                                            <p>{{ obj.car_stealing__stealing_status|default_if_none:'нет данных' }}</p>
                                        </td>
                                        <td align="center"><p>{{ obj.car_stealing__stealing_date|default_if_none:'нет данных' }}</p></td>
                                        <td align="center"><p>{{ obj.car_stealing__stealing_town|default_if_none:'нет данных' }}</p></td>


                                    </div>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}
            {% endwith %}
    {% endblock %}
{% endblock %}