{% extends 'gibdd_app/base.html' %}

<title>Список СТС</title>
{% load staticfiles %}
{% block header %}
    <h2><i><b>Список СТС</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form>
            <table border="2">
                <caption>Таблица свидетельств о регистрации транспортных средств</caption>
                <th> № СТС:</th>
                <th> Регистрационный знак а/м</th>
                <th>VIN</th>
                <th> Марка,
                    модель
                </th>
                <th> Подробнее...</th>
                {% for obj in objects_list %}
                    <tr>
                        <div>
                            <td><p><a href="{% url 'registr_detail' pk=obj.pk %}">{{ obj.registr_certificate_number }}
                            </a></p></td>
                            <td><p>{{ obj.registr_certificate_registr_sign }}</p></td>
                            <td><p> {{ obj.registr_certificate_VIN }}</p></td>
                            <td><p>{{ obj.registr_certificate_car_model }}</p></td>
                            <td>
                                <button class="btn" type="button"><a
                                        href="{% url 'registr_detail' pk=obj.pk %}">Подробнее
                                    >></a></button>
                            </td>
                        </div>
                    </tr>
                {% endfor %}
            </table>

        </form>
    {% endblock %}
{% endblock %}