{% extends 'gibdd_app/base.html' %}
<title>ДТП по датам</title>
{% load staticfiles %}
{% block header %}
    {#    <div class="left"><button class="btn-primary" type="button" onclick="history.back()">Назад</button></div>#}
    <h2><i><b>Поиск ДТП по датам</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form method="GET" action="{% url 'search_accidents_by_date' %}">
            <p><i>Для поиска введите начальную и конечную даты поиска.</i>
                <b><i>Например,</i></b>с 18.01.2018 <i> по </i> 21.01.2018. </p>
            <p> Поиск: <strong><input type="date" maxlength="10" minlength="10" name="q" value="{{ request.GET.q }}"
                                      placeholder="18.01.2018"></strong>
                <strong><input type="date" maxlength="10" minlength="10" name="p" value="{{ request.GET.p }}"
                               placeholder="21.01.2018"></strong>

                <button type="submit"><span class="glyphicon glyphicon-search"
                                            style="color:grey"
                                            title="Поиск аварий по дате"> </span>
                    Поиск
                </button>

            </p>


            {% with url_name=request.resolver_match.url_name %}
                {% if url_name == 'search_accidents_by_date' %}

                    {% if data_count %}
                        <p>Результат поиска по количеству протоколов ДТП: {{ data_count|length }} шт.
                        </p>
                    {% endif %}

                    {% if data_count %}
                        <table border="2">
                            <caption>Таблица с историей ДТП</caption>
                            <th> №</th>
                            <th> Номер протокола аварии</th>
                            <th>Дата ДТП</th>
                            <th>Тяжесть аварии</th>
                            <th> VIN</th>
                            <th>№ СТС</th>
                            <th>Модель автомобиля</th>
                            <th>Цвет автомобиля</th>

                            {% for obj in data_count %}

                                <tr>
                                    <td><p align="center">{{ obj.pk }}</p></td>
                                    <td><p align="center">{{ obj.accid__number_accident }}</p></td>
                                    <td><p align="center">{{ obj.accid__accident_date }}</p></td>
                                    <td><p align="center">{{ obj.accid__accident_severity }}</p></td>
                                    <td>
                                        <p align="center">{{ obj.car__car_registr_certificate__registr_certificate_VIN }}</p>
                                    </td>
                                    <td>
                                        <p align="center">{{ obj.car__car_registr_certificate__registr_certificate_number }}</p>
                                    </td>
                                    <td>
                                        <p align="center">{{ obj.car__car_registr_certificate__registr_certificate_car_model }}</p>
                                    </td>
                                    <td>
                                        <p align="center">{{ obj.car__car_registr_certificate__registr_certificate_colour }}</p>
                                    </td>

                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>В данный интервал дат ДТП не было.</p>
                    {% endif %}


                {% endif %}

            {% endwith %}
        </form>
    {% endblock %}
{% endblock %}