{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Статистика</title>
{% load static %}

<body>
{% block header %}
    <div align="center" style="position:relative; margin: auto; padding: 1px;  height:auto; top:1px; color: blue;">
        <b>Статистика аварийности на дорогах</b>
    </div>
{% endblock %}

{% block content %}

    <div class="media-body">

        <div style="float:left">
            <p style="margin-bottom: 8%">
            <h2><a href="{% url 'stat_chart_1' %}"><h2>1.Статистика о количестве пострадавших в ДТП за период</h2>
            </a></h2>
            <a href="{% url 'stat_chart_2' %}"><h2>2. Статистика о степени тяжести ДТП</h2></a>
            <a href="{% url 'stat_chart_3' %}"><h2>3. Статистика о соотношениях полученных категорий прав</h2></a>
            <a href="{% url 'stat_chart_4' %}"><h2>4. Сравнение количества пострадавших и погибших детей и взрослых</h2>
            </a>
            </p>

        </div>


        <div style="float: right; margin-bottom: 6%; margin-right: -10% " class="outline">
            <p>
            <p align="center"><i><b style="color: darkred"> АВАРИЙНОСТЬ НА ДОРОГАХ ЗА {{ previous_date }}</b></i></p>
            <p align="center">Произошло ДТП: {{ number_of_accidents | default_if_none:"0" }}</p>
            <p align="center">Пострадало взрослых: {{ number_people | default_if_none:"0" }}</p>
            <p align="center">Пострадало детей: {{ accident_children | default_if_none:"0" }}</p>
            <p align="center">Погибло взрослых: {{ accident_death | default_if_none:"0" }}</p>
            <p align="center">Погибло детей: {{ accident_children_death | default_if_none:"0" }}</p>
            </p>
        </div>
    </div>


{% endblock %}

{% block footer %}
    <footer id="footer" class="midnight-blue"
            style="position:fixed; margin: auto; padding: 1px;  height:auto; margin-top:0%">
        <div class="container">
            <div class="container">
                <div class="row">
                    {#            <div class="col-lg-12">#}
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    {#            </div>#}
                </div>
            </div><!--/.container-->
            <div class="row">
                <div class="col-sm-6">
                    <p style="color: whitesmoke">&copy; 2018 Chekulina Marina, BMSTU.</p>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
{% endblock %}
</body>
</html>