{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Статистика</title>
{% load static %}

<body>
{% block header %}
    <div align="center" style="position:relative; margin: auto; padding: 1px;  height:auto; top:1px">
        Статистика
    </div>
{% endblock %}

{% block content %}

    <div class="media-body">
        <a href="{% url 'stat_chart_1' %}"><h3 class="media-heading">Статистические данные № 1 ......</h3></a>
        <a href="{% url 'stat_chart_2' %}"><h3 class="media-heading">Статистические данные № 2 ......</h3></a>
        <a href="{% url 'stat_chart_3' %}"><h3 class="media-heading">Статистические данные № 3 ......</h3></a>
        <a href="{% url 'stat_chart_4' %}"><h3 class="media-heading">Статистические данные № 4 ......</h3></a>

    </div>

{% endblock %}
</body>
</html>