{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Статистика</title>
{% load static %}

<body>
{% block header %}
    <div align="center" style="position:relative; margin: auto; padding: 1px;  height:auto; top:1px">
        Статистика о соотношениях полученных категорий прав
        <p>{{ a }}</p>
    </div>
{% endblock %}

{% block content %}

    {% block form %}

        <form method="GET" action="{% url 'stat_chart_3' %}">
            <p><i>Для поиска введите начальную и конечную даты поиска.</i>
                <b><i>Например, </i></b>с 18.01.2018 <i> по </i> 20.01.2018. По умолчанию выдаются данные за последние
                7 дней. </p>
            <p> Поиск: <strong><input type="date" maxlength="10" minlength="10" name="q" value="{{ request.GET.q }}"
                                      placeholder="18.01.2018"></strong>
                <strong><input type="date" maxlength="10" minlength="10" name="p" value="{{ request.GET.p }}"
                               placeholder="20.01.2018"></strong>

                <button type="submit"><span class="glyphicon glyphicon-search"
                                            style="color:grey"
                                            title="Поиск аварий по дате"> </span>
                    Поиск
                </button>

            </p>
        </form>
    {% endblock %}

    <script src="{% static "gibdd_app/js/jquery.js" %}"></script>
    <script src="{% static "gibdd_app/js/chartloader.js" %}"></script>
    <script src="{% static "gibdd_app/js/highcharts.js" %}"></script>

    {% load chartit %}


    {{ chart3|load_charts:"container" }}
    <div class="col-lg-12" align="center">
        <div id='container' style="width: 500px">
            {{ chart3|load_charts:"container" }}
        </div>
    </div>
{% endblock %}
</body>
</html>