{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Статистика</title>
{% load static %}

<body>
{% block header %}
    <div align="center" style="position:relative; margin: auto; padding: 1px;  height:auto; top:1px">
        Статистическая диаграмма #3 (Категории прав)
        <p>{{ a }}</p>
    </div>
{% endblock %}

{% block content %}
    <p>Всего: {{ all_people }}</p>
    <script src="{% static "gibdd_app/js/jquery.js" %}"></script>
    <script src="{% static "gibdd_app/js/chartloader.js" %}"></script>
    <script src="{% static "gibdd_app/js/highcharts.js" %}"></script>

    {% load chartit %}


    {{ chart4|load_charts:"container" }}
    <div class="col-lg-12" align="center">
        <div id='container' style="width: 500px">
            {{ chart4|load_charts:"container" }}
        </div>
    </div>
{% endblock %}
</body>
</html>