{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Статистика</title>
{% load static %}

<body>
{% block header %}
    <div align="center" style="position:relative; margin: auto; padding: 1px;  height:auto; top:1px">
        Статистика о степени тяжести ДТП
        <p>{{ a }}</p>
    </div>
{% endblock %}

{% block content %}
    <script src="{% static "gibdd_app/js/jquery.js" %}"></script>
    <script src="{% static "gibdd_app/js/chartloader.js" %}"></script>
    <script src="{% static "gibdd_app/js/highcharts.js" %}"></script>

    {% load chartit %}

    <div style="float:left; margin-left: 200px">
        {{ chart2|load_charts:"container2" }}
        <div class="col-lg-12">
            <div id='container2' style="width: 500px">
                {{ chart2|load_charts:"container2" }}
            </div>
        </div>
    </div>

    <p style="margin-bottom: 75px">
        <div style="margin-left: 830px">

    <p>Всего ДТП:{{ "  " }}{{ all_accidents }}{{ " " }} шт.</p>
    <p>1.Тяжесть аварии не указана: {{ not_define_per }} %</p>
    <p>2.Тяжесть аварии "легкая": {{ light_per }} %</p>
    <p>3.Авария "средней тяжести": {{ middle_per }} %</p>
    <p>4.Причинение тяжкого вреда здоровью: {{ high_per }} %</p>
    <p>5.Авария "без вреда здоровью": {{ without_per }} %</p>
    </div>
    </p>

{% endblock %}
</body>
</html>