{% extends 'gibdd_app/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Статистика</title>
{% load static %}

<body>
{% block header %}
    <div align="center" style="position:relative; margin: auto; padding: 1px;  height:auto; top:1px">
        Статистическая диаграмма #1
        <p>{{ a }}</p>
    </div>

{% endblock %}


{% block content %}

    {% block form %}

        <form method="GET" action="{% url 'stat_chart_1' %}">
            <p><i>Для поиска введите начальную и конечную даты поиска.</i>
                <b><i>Например,</i></b>с 2018-01-20 <i> по </i> 2018-01-30. </p>
            <p> Поиск: <strong><input maxlength="10" minlength="10" name="q" value="{{ request.GET.q }}"
                                      placeholder="2018-01-21"></strong>
                <strong><input maxlength="10" minlength="10" name="p" value="{{ request.GET.p }}"
                               placeholder="2018-01-30"></strong>

                <button type="submit"><span class="glyphicon glyphicon-search"
                                            style="color:grey"
                                            title="Поиск аварий по дате"> </span>
                    Поиск
                </button>

            </p>
        </form>
    {% endblock %}

    <script src="{% static "gibdd_app/js/jquery.js" %}"></script>
    <script src="{% static "gibdd_app/js/chartloader.js" %}"></script>
    <script src="{% static "gibdd_app/js/highcharts.js" %}"></script>


    {% load chartit %}
    {{ chart|load_charts:"container" }}
    <div class="col-lg-12" align="center">
        <div id='container' style="width: 600px">
            {{ chart|load_charts:"container" }}
        </div>
    </div>

{% endblock %}
</body>
</html>