{% extends 'gibdd_app/base.html' %}

<title>Список свидетедей</title>
{% load staticfiles %}
{% block header %}
    <h2><i><b>Список свидетедей</b></i></h2>
{% endblock %}
{% block content %}

    {% block form %}

        <form>
            <table border="2">
                <caption>Таблица свидетедей</caption>
                <th> ФИО свидетеля</th>
                <th>Свидетель аварии</th>
                <th>Город проживания свидетеля</th>
                <th> Подробнее...</th>
                {% for obj in objects_list %}
                    <tr>
                        <div>
                            <td><p><a
                                    href="{% url 'witness_detail' pk=obj.pk %}">{{ obj.witness_surname }} {{ obj.witness_name }}
                                {{ obj.witness_patronymic }}
                            </a></p></td>
                            <td><p>{{ obj.witness_accident }}</p></td>
                            <td><p>{{ obj.witness_town }}</p></td>

                            <td>
                                <button class="btn" type="button"><a
                                        href="{% url 'witness_detail' pk=obj.pk %}">Подробнее
                                    >></a></button>
                            </td>

                        </div>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% endblock %}
{% endblock %}