{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'gibdd_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'gibdd_app/css/font-awesome.min.css' %}">
    <link href="{% static 'gibdd_app/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'gibdd_app/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'gibdd_app/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'gibdd_app/css/responsive.css' %}" rel="stylesheet">
    <script src="{% static 'gibdd_app/js/html5shiv.js' %}"></script>
    <script src="{% static 'gibdd_app/js/respond.min.js' %}"></script>
    <title>Сотрудникам</title>
</head>


<body>

<div id="block1">
    {#    <header id="header">#}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div id="navbar" class="navbar-collapse collapse" style="position:relative; left:1000px; top: 50px">
                    {% if user.is_authenticated %}
                        {#                        <h1> Your login: {{ user.username }}</h1>#}
                        <button id="signout" type="submit" class="btn btn-success button_style">Sign
                            out {{ user.username }}</button>

                    {% else %}
                        <button id="signin" type="submit" class="btn btn-success button_style">Sign in</button>

                    {% endif %}
                </div>
                <a class="navbar-left">
                    <img src="{% static 'gibdd_app/images/logo.png' %}" alt="">
                </a>
                <a class="navbar-brand" href="main.html">ГОСАВТОИНСПЕКЦИЯ</a>
                <div class="bn-logo-text" style="top:80px; color:yellowgreen">УВАЖЕНИЕ ПРОФЕССИОНАЛИЗМ БЕЗОПАСНОСТЬ
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'main' %}">Home</a></li>
                    <li><a href="{% url 'gibdd' %}">Госавтоинспекция</a></li>
                    <li><a href="{% url 'participants' %}">Участникам движения</a></li>
                    <li><a href="{% url 'services' %}">Услуги</a></li>
                    <li><a href="{% url 'workers' %}">Сотрудникам</a></li>
                    <li><a href="{% url 'statistics' %}">Статистика</a></li>
                    {#                        <li><a href="blog.html">Blog</a></li>#}
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {#    </header>#}
</div>


<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2 style="height: 110px"></h2>

            <h2>Доступные услуги для сотрудников ГИБДД</h2>
            <p class="lead">Сервис позволяет добавлять, редактировать и удалять данные о выбранной категории</p>
        </div>

        <div class="row">
            {% if user.groups.all.0.name == 'license_operator' or user.groups.all.0.name == 'admins' %}
                <div class="col-sm-6 col-md-4">
                    {#                {% if perms.auth.can_add_medical_certificate %}#}
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive"
                                 src="{% static 'gibdd_app/images/workers_interface/medic.PNG' %}"
                                 width="80" height="40">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                {#                            <a href="{% url 'med_all' %}">Медицинская справка</a>#}
                                <a href="{% url 'med_list' %}">Медицинские справки</a>
                            </h3>
                        </div>


                        <div class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'med_list' %}"><span
                                        class="glyphicon glyphicon-list-alt"
                                        style="color:darkblue"
                                        title="Список мед.справок"> </span></a>
                                </li>
                                {% if perms.auth.can_add_medical_certificate %}
                                    <li class="active"><a href="{% url 'med_create' %}"><span
                                            class="glyphicon glyphicon-plus"
                                            style="color:yellowgreen"
                                            title="Добавить мед. справку"> </span></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>


                        {#                    <p>Сервис позволяет добавлять, редактировать и удалять данные о мед справках</p>#}
                    </div>
                    {#                {% endif %}#}
                </div>
            {% endif %}
            {% if user.groups.all.0.name == 'inspectors' or user.groups.all.0.name == 'admins' %}
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive"
                                 src="{% static 'gibdd_app/images/workers_interface/category.PNG' %}"
                                 width="80" height="40">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="{% url 'categ_list' %}">Категории
                                <ol>ВУ</ol>
                            </a></h3>

                        </div>
                        {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}

                        <div class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'categ_list' %}"><span
                                        class="glyphicon glyphicon-list-alt"
                                        style="color:darkblue"
                                        title="Список категорий"> </span></a></li>

                                <li class="active"><a href="{% url 'categ_create' %}"><span
                                        class="glyphicon glyphicon-plus"
                                        style="color:yellowgreen"
                                        title="Добавить категорию"> </span></a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            {% endif %}
            {% if user.groups.all.0.name == 'inspectors' %}
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive"
                                 src="{% static 'gibdd_app/images/workers_interface/licen.PNG' %}"
                                 width="100" height="50">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="{% url 'license_list' %}">Водительские удостоверения</a>
                            </h3>

                        </div>
                        {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                        <div class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'license_list' %}"><span
                                        class="glyphicon glyphicon-list-alt"
                                        style="color:darkblue"
                                        title="Список ВУ"> </span></a></li>
                                <li class="active"><a href="{% url 'license_create' %}"><span
                                        class="glyphicon glyphicon-plus"
                                        style="color:yellowgreen"
                                        title="Добавить ВУ"> </span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {#            {% if perms.auth.can_add_driver %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/driver.PNG' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="{% url 'driver_list' %}">Водители</a></h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'driver_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список водителей"> </span></a></li>
                            <li class="active"><a href="{% url 'driver_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить водителя"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_license_disqualification %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="{% static 'gibdd_app/images/workers_interface/disq.jpg' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="{% url 'disq_list' %}">Статусы прав</a></h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'disq_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список статусов прав"> </span></a></li>
                            <li class="active"><a href="{% url 'disq_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить статус прав"> </span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_lisense_category %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/add_cat.png' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Добавление новой категории в ВУ
                        </h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'lic_cat_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список категорий в ВУ"> </span></a></li>
                            <li class="active"><a href="{% url 'lic_cat_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить новую категорию в ВУ"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}

            {% if user.groups.all.0.name == 'inspectors' %}
                <div class="col-sm-6 col-md-4">

                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive"
                                 src="{% static 'gibdd_app/images/workers_interface/protocol.png' %}"
                                 width="80" height="40">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Составление протокола ДТП</h3>

                        </div>
                        {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                        <div class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav">

                                <li class="active"><a href="{% url 'accident_list' %}"><span
                                        class="glyphicon glyphicon-list-alt"
                                        style="color:darkblue"
                                        title="Список ДТП"> </span></a></li>
                                <li class="active"><a href="{% url 'accident_create' %}"><span
                                        class="glyphicon glyphicon-plus"
                                        style="color:yellowgreen"
                                        title="Добавить протокол ДТП"> </span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            {% endif %}
            {#            {% if perms.auth.can_add_witness %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/witness.png' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Свидетели ДТП</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'witness_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список свидетелей"> </span></a></li>
                            <li class="active"><a href="{% url 'witness_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить свидетеля"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_lisense_accident %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/accident_cars.PNG' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">ВУ, участвовавшие в ДТП</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'licen_accid_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список "> </span></a></li>
                            <li class="active"><a href="{% url 'licen_accid_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить ВУ, участвовавшее в ДТП"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_inspector %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/inspector.jpg' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Сотрудники ГИБДД</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'inspector_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список "> </span></a></li>
                            <li class="active"><a href="{% url 'inspector_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить инспектора"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_fine %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="{% static 'gibdd_app/images/workers_interface/fine.jpg' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Штрафы за ПДД</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'fine_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список штрафов "> </span></a></li>
                            <li class="active"><a href="{% url 'fine_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить штраф"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_car %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="{% static 'gibdd_app/images/workers_interface/car.jpg' %}"
                             width="90" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Автомобили на учете</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'car_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список автомобилей"> </span></a>
                            </li>
                            {% if perms.auth.can_add_car %}
                                <li class="active"><a href="{% url 'car_create' %}"><span
                                        class="glyphicon glyphicon-plus"
                                        style="color:yellowgreen"
                                        title="Добавить автомобиль"> </span></a></li>
                            {% endif %}


                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_registration_certificate %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="{% static 'gibdd_app/images/workers_interface/reg.PNG' %}"
                             width="100" height="60">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Свидетельства о регистрации</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'registr_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список СТС"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'registr_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить СТС"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_owner %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/owner.PNG' %}"
                             width="100" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Собственники автомобилей</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'owner_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список собственников"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'owner_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить собственника"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_stealing %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/stealing.PNG' %}"
                             width="90" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Подробные данные угона</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'steal_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список угонов"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'steal_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить данные угона"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_decree %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/decree.png' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Постановления о нарушении ПДД</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'decree_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список постановлений"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'decree_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить постановление"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_camera %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/camera_.PNG' %}"
                             width="60" height="30">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Средства фиксации нарушений: камеры</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'camera_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список камер"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'camera_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить камеру"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_auto_school %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/autoschool.PNG' %}"
                             width=90" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Доступные автошколы</h3>

                    </div>
                    {#                    <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>#}
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'autoschool_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список автошкол"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'autoschool_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить автошколу"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_car_history %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/history.jpg' %}"
                             width="80" height="40">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">История автомобиля</h3>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'history_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список историй авто"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'history_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить историю"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_diagnostic_card %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/diagnostic.jpg' %}"
                             width="90" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Диагностические карты</h3>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'diagnostic_card_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список диагностических карт"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'diagnostic_card_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить диагностическую карту"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_insurance %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/insurance.png' %}"
                             width="90" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Страховые полиса ТС</h3>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'insurance_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список страховых полисов"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'insurance_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить страховой полис"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_insurance_license %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/paper.png' %}"
                             width="90" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">ВУ в полисе</h3>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'insurance_license_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список ВУ в полис"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'insurance_license_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить ВУ в полис"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_accident_car %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/accident_cars.PNG' %}"
                             width="90" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">ТС в ДТП</h3>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'accident_car_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список ТС, участвовавших в ДТП"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'accident_car_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить ТС, участвовавшие в ДТП"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_europrotocol %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/euro_accident.jpg' %}"
                             width="90" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Добавить европротокол</h3>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'europrotocol_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список европротоколов"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'europrotocol_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить европротокол"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
            {#            {% if perms.auth.can_add_autoschool_driver %}#}
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive"
                             src="{% static 'gibdd_app/images/workers_interface/autostudent.jpg' %}"
                             width="90" height="50">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Данные об обучении в автошколе</h3>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'autostudent_list' %}"><span
                                    class="glyphicon glyphicon-list-alt"
                                    style="color:darkblue"
                                    title="Список"> </span></a>
                            </li>
                            <li class="active"><a href="{% url 'autostudent_create' %}"><span
                                    class="glyphicon glyphicon-plus"
                                    style="color:yellowgreen"
                                    title="Добавить данные"> </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}

        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

<div class="top-bar" style="position:relative; margin: auto; padding: 1px;  height:auto; top:auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social">
                    <ul class="social-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->


<footer id="footer" class="midnight-blue"
        style="position:relative; margin: auto; padding: 1px;  height:auto; top:auto">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; 2018 Chekulina Marina, BMSTU.</p>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script>

    var signin = document.getElementById('signin');
    if (signin != undefined) {
        signin.onclick = function (event) {
            window.location = '{% url 'login' %}';
            event.stopPropagation();
        }
    }

    var signout = document.getElementById('signout');
    if (signout != undefined) {
        signout.onclick = function (event) {
            window.location = '{% url 'logout' %}';
            event.stopPropagation();
        }
    }

</script>
</body>
</html>


